/* Styles for Project 6 */
body {
    background-color: #EDEDED; 
    color: #707070;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .5 px;
    line-height: 1.5;
    margin: 0rem;
}

p{
    font-size: 14pt;
}

li {
    list-style: none;
}

h1 {
    background: #FFFFFF;
    font-family: lust, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0rem;
    margin: 0rem;
    text-align: center;
}

h2 {
    background-image: url('../img/coffee-beans.jpg');
    background-position: left bottom;
    background-size: 1000px 800px;
    color: white;
    font-weight: 600;
    line-height: 2;
    padding: 2rem;
    text-align: center;
    font-size: 18pt;
}

h4 {
    font-weight: 400;
    margin: 0rem;
    font-size: 16pt;
}

hr {
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:#707070;
    border: 0 none;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}

.all {
    text-align: center;
}

.heading {
      display: flex;
      justify-content: center;
      position: relative;
}

.picture {
    display: none;
}
.heading::after {
      content: ' ';
      position: absolute;
      top: 50%;
      width: 100%;
      border-bottom: 1px solid #707070;
      z-index: 0;
}

h3 {
    background: #EDEDED;
    font-weight: 400;
    font-size: 18pt;
    padding: 1rem;
    position: relative;
    text-align: center;
    z-index: 1;
}

.special {
    background-image: url('../img/latte-cactus.jpg');
    background-size: 450px 275px;
}

ul {
    margin-bottom: 2rem;
}
   
@media only screen and (min-width: 800px){
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .picture {
        display: block;
    }
    
    h1 {
        font-size: 22pt;
        text-align: center;
    }
    
    h2 {
        background-image: none;
        color: #707070;
        font-weight: 600;
        line-height: 2;
        padding: 0rem;
        font-size: 22pt;
        text-align: justify;
    }

    h3 {
        font-size: 22pt;
    }
    
    h4 {
        font-size: 20pt;
    }
    
    p {
        font-size: 16pt;
    }
    
    .special {
        background-image: none;
    }
}