/* Styles for Project 4 */

body {
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .5 px;
    line-height: 1.5;
    padding: 10%;
}

h1 {
    color: darkolivegreen;
    font-weight: 500;
}

h2 {
    font-weight: 500;
}
img {
    max-width: 100%;
}

ul {
    margin-bottom: 2rem;
}