/* Styles for Project 6 */

body {
    background-color: #EDEDED; 
    color: #707070;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .5 px;
    line-height: 1;
    padding: 10%;
}

li {list-style: none;
}

h1 {
    background: #FFFFFF;
    font-family: lust, serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem
}

h2 {
    background-image: url('../img/coffee-beans.jpg');
    font-weight: 600;
    line-height: 2;
    padding: 1rem;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
}

img {
    max-width: 100%;
}

.special {
    background-image: url('../img/latte-cactus.jpg');
    background size: 361px/145px;
}

ul {
    margin-bottom: 2rem;
}

url'..'/coffee-beans.jpg